html,body{
    height: fill;
}
.body1{
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(56, 58, 62)
}

article{
    color: white;
}

.form1{
    margin-top: 30px;
    width: 25%;
}

fieldset{
    background-color:rgb(144, 26, 255);
    border: rgb(240, 110, 255) solid;
}