body{
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .ring{
    position: absolute;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
  }
  @keyframes ring {
    0%{
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #8e00e6;
    }
    50%{
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #c942db;
    }
    100%{
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #045fde;
    }
  }
  .ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0, 247, 255);
  }
  span{
    color: #0bdcfc;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 2.5s ease-in-out infinite;
  }
  @keyframes text {
    50%{
      color: black;
    }
  }

  .circle{
    width: 100px;
    height: 100px;
    border: 1px;
    border-radius: 50%;
    background: #3d57cc;
    transition: all 500ms ease;
    transition-delay: 1s;

  }



  